@use "../../variaveis"as*;

:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: $space-x4;

    .processo-wrapper {
        display: flex;
        width: 100%;
        align-content: center;
        justify-content: center;
        box-sizing: border-box;

        .processo {
            width: 100%;
            border-radius: 99999px;
            border: 0px solid transparent;
            height: 6px;
            font-weight: bold;
            color: #ccc;
            position: relative;
            overflow: hidden;
            box-sizing: border-box;
            background-color: #eee;

            .progresso {
                border-radius: 99999px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                left: 0;
                background: $action;
                z-index: 0;
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        flex: 1;

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 30px;
            flex: 1;

            li {
                display: flex;
                flex-direction: column;
                width: 100%;


                &.hidden {
                    visibility: hidden;
                    display: none;
                }

                .pergunta {
                    color: $texto-2;
                    font-family: $font-family;
                    font-weight: bold;
                    padding: $space-x5 0;
                }

                ul.respostas {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: $space-x4;

                    li {
                        font-family: $font-family;
                        padding: 0 $space-x5;
                        height: 60px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        background-color: #F7F8FC;
                        color: $texto-1;
                        gap: $space-x4;
                        flex-direction: row;
                        border-radius: 10px;

                        .custom-radio {
                            .radio-bg {
                                fill: transparent;
                            }
                            .radio-border {
                                stroke: #ACACAC;
                            }
                        }


                        &:has(input[type=radio]:checked) {
                            background-color: rgba(118, 96, 230, 0.25);
                            color: $action;

                            .custom-radio {
                                .radio-bg {
                                    fill: #7660E6;
                                }
                                .radio-border {
                                    stroke: #7660E6;
                                }
                                .radio-select-tick {
                                    fill: #fff;
                                }
                            }
                        }

                        input[type=radio] {
                            opacity: 0;
                            visibility: hidden;
                            display: none;
                        }

                        & label {
                            cursor: pointer;
                            flex: 1;
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            gap: $space-x3;
                        }

                        &:hover {
                            color: $texto-2;
                            background-color: #ececec;
                        }
                    }
                }
            }
        }

    }

    .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 18px;

        button {
            color: #fff;
            background: $action;
            cursor: pointer;
            border-radius: 10px;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: $space-x2;
            padding: 0 $space-x4;

            svg {
                width: 18px;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: $space-x4 0;
            }

            &:hover {
                background: #000dbd;
            }

            &:disabled {
                cursor: no-drop;
                opacity: 0.7;
            }
        }
    }
}