:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/assets/images/bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    gap: 30px;

    .logo {
        color:white;
        display: flex;
        flex-direction: column;

        h1 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        a {
            border: 1px solid #0f479c;
            background: #0f479c;
            border-radius: 10px;
            gap: 20px;
            padding: 12px;
            color: #fff;
            text-decoration: none;

            &:hover {
                border: 1px solid #072b63;
                background: #072b63;
                color: #ffff99;
            }
        }
    }
}